.Navbar__container {
  width: 100%;
}

.navigation {
  width: 100%;
  /* position: fixed;
  z-index: 2; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: black;
  color: aliceblue;
  font-family: "Nunito";
}

.nav__bar a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Nunito";
  font-weight: 600;
}

.nav__bar {
  display: flex;
  gap: 20px;
}

.main__logo {
  width: 90px;
  height: 90px;
}

.search__bar {
  padding: 5px 7px;
  width: 400px;
  border-radius: 8px;
  font-family: "Nunito";
  border: none;
  background-color: blanchedalmond;
  color: black;
}

.category__container {
  position: relative;
}

.category__box {
  width: 500px;
  font-family: "Nunito";
  background-color: aliceblue;
  color: black;
  border-radius: 7px;
  position: absolute;
  z-index: 3;
  transition: 0.3s all ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-flow: row;
  gap: 15px;
}

.search__container {
  position: relative;
}

.overview__search {
  width: 400px;
  position: absolute;
  background-color: rgb(68, 68, 68);
  top: 35px;
  right: 0px;
  border: none;
  border-radius: 8px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: 0.3s all ease;
}

.overview__search::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}

.overview__search::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.overview__search::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 8px;
}

.search__info {
  font-family: "Nunito";
  display: flex;
  color: black;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.76);
  padding: 4px;
  color: aliceblue;
}

.overview__img {
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.overview__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

/* HTML: <div class="loader"></div> */
.load__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0,
    calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0, calc(-5 * var(--w)) 0,
    calc(-6 * var(--w)) 0, calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0,
    calc(-9 * var(--w)) 0;
  animation: l16 2s infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l16 {
  20% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 #63fff4, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  40% {
    text-shadow: calc(-1 * var(--w)) 0, calc(-2 * var(--w)) 0 red,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0 orange,
      calc(-7 * var(--w)) 0, calc(-8 * var(--w)) 0 green, calc(-9 * var(--w)) 0;
  }
  60% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0,
      calc(-3 * var(--w)) 0 #e945e9, calc(-4 * var(--w)) 0,
      calc(-5 * var(--w)) 0 green, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 yellow, calc(-8 * var(--w)) 0 #ffa516,
      calc(-9 * var(--w)) 0 red;
  }
  80% {
    text-shadow: calc(-1 * var(--w)) 0 lightblue, calc(-2 * var(--w)) 0 yellow,
      calc(-3 * var(--w)) 0 #63fff4, calc(-4 * var(--w)) 0 #ffa516,
      calc(-5 * var(--w)) 0 red, calc(-6 * var(--w)) 0,
      calc(-7 * var(--w)) 0 grey, calc(-8 * var(--w)) 0 #63fff4,
      calc(-9 * var(--w)) 0;
  }
}
